
.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 6px;
    display: none;
    background-color: var(--colors-main);
    box-shadow: 0 1px 6px var(--colors-main);
    z-index: 3;
    transition: 0.1s;
}