* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: rgb(231, 231, 231);
    cursor: grab;
}

.menu {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 300px;
    height: calc(100vh - 80px);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    padding: 42px;
    overflow-y: auto;
}

.menu h3 {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;
    color: #2D2D2D;
}

.menu button {
    width: 100%;
    height: 52px;
    background: #008CC1;
    box-shadow: 0px 4px 5px 1px #D6E8F5, none inset;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #e4eef5;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.menu .input {
    width: 100%;
    height: 50px;

    background: #EFEFEF;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s;
}
.menu .input label {
    top: 8px;
    left: 8px;
    position: absolute;
    
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;

    color: #7D7D7D;
}
.menu .input input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 8px;
    padding-top: 20px;
}
.menu .input:focus-within {
    border-color: #008CC1;
    border-width: 1.5px;
}
.menu .input:focus-within label {
    color: #008CC1;
}

.menu button:hover {
    box-shadow: 0px 4px 5px 1px #D6E8F5, 0px 3px 6px 5px #20222423 inset;
}

vertical-spacing {
    height: 20px;
    width: 100%;
    display: flex;
}